@import 'node_modules/bulma/bulma';

body, html, #app {
  height: 100%;
  min-height: 100%;
}


.fade-enter-active, .fade-leave-active {
  transition: .15s all ease-in-out;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: translateY(-5px);
}
