@import 'node_modules/bulma/bulma';

body, html, #app {
  height: 100%;
  min-height: 100%;
  width: 100%;
}

.container {
  padding: 10px;
}

.fade-enter-active, .fade-leave-active {
  transition: .15s all ease-in-out;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: translateY(-5px);
}

.app-loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page {
  display: flex;
  background-color: red;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95%;
  width: 100%;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url('/img/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.text-white {
  color: white;
}

.flex-centered-both {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.learn-more-arrow {
  background-color: #fff;
  height: 50px;
  width: 50px;
  border-bottom: 1px solid #ccc;
  border-radius: 50%;
  transform: translateY(50%);
  color: #333;
  text-align: center;
  line-height: 50px;
  font-size: 2em;
  transition: .25s all ease-in-out;
  z-index: 11;
  cursor: pointer;
}


.learn-more-arrow:hover {
  transform: translateY(50%) scale(1.2);
}

[v-cloak] {
  display: none;
}
